	
 .h2_class { font-size: 30px; }
 
 body{
	background:url(../images/back2.jpg)  no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
 	position:relative;
 	font-family: 'Open Sans', sans-serif;
 }
 	
 #fundo_tabela  {  	
	clear: both;  	
	background: #FF9;
	width: 465px;
	border-radius: 10px 20px;  
	}
	
	#div_num_venda {
		color: black;
		font-weight: bold;
	}
	
	#div_prod {
		color: black;
		font-weight: bold;
	}    
	
	#div_quantidade {
		color: red;
		font-weight: bold;
	}  